// import
@import "variables";
@import "header";
@import "body";


            
            @media(min-width: 768px){
                .main { display: grid; 
                grid-template-columns: 1fr;}
            }
            @media(min-width: 992px){
                .main{ display: grid; grid-template-columns:5fr 5fr; justify-items: center;}
            }
