*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; font-size: 25px;}
p{.contacto{ color:$color-secundary;}}
body {font-family:'Times New Roman', Times, serif;
    margin: 0; padding: 0; box-sizing: border-box;
    font-size: 20px;
    background-color:$color-primary;
    background-image: url(../img/simbolo.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed; 
    color:$color-secundary;
    .imginicio{display: flex;justify-content: center;}
    
    
    .main{padding: 0.5rem; display: flex; flex-direction: row; flex-wrap: wrap; justify-content: space-around; margin: 50px;}
        .yo{display: flex; justify-content: center; opacity: 4;}
        .horizontal{ width: 500px;
            height: 400px; ;
            }
            img{
                max-width: 100%;
            width: 400px;
            height: 500px;
            margin: 18px;
            opacity: .4;
            }
            img:hover{
                opacity: 4;
            } }

            @media(min-width: 768px){
                .main { display: grid; 
                grid-template-columns: 1fr;}
            }
            @media(min-width: 992px){
                .main{ display: grid; grid-template-columns:5fr 5fr; justify-items: center;}
            }
